<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
    <add key="AppToKill" value="notepad"/>
    <add key="LogEntryWritePeriod" value="30"/>    <!--s-->
    <add key="IPCheckTimerInterval" value="5"/>  <!--s-->
    <add key="TimeoutInterval" value="1000"/>   <!--ms-->
  </appSettings>
  <IPCheckURLs>   <!--Add enum and response parser when modifying this list-->
    <add key="IPIFY" value="https://api.ipify.org"/>
    <add key="AKAMAI" value="http://whatismyip.akamai.com"/>
    <add key="IDENT" value="http://ident.me"/>
    <add key="WHATISMYIPADDRESS" value="http://bot.whatismyipaddress.com"/>
  </IPCheckURLs>




  <log4net debug="false">
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <!--<file value="C:\\_DATA\\Logs\\TradeControllerService.log" />-->
      <file type="log4net.Util.PatternString">
        <conversionPattern value="C:\\Temp\\Logs\\IP-%date{yyyy-MM-dd_HH.mm.ss}.log"/>
      </file>

      <appendToFile value="true"/>
      <maximumFileSize value="1000KB"/>
      <maxSizeRollBackups value="10"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level [%property{OperationId}] [%property{EventCode}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
